.WeatherForecast{
    text-align: center;
}
.WeatherForecastTemperature-min{
    opacity: 0.6;
   
    
    font-size:0.75rem;
}
.container-day{
   margin: 30px 5px;
   border-radius: 5px;
   border: solid 1px goldenrod;
}
.iconForecast canvas {
    display: inline-block;
    height: 30px;
    width: 30px;
}
.WeatherForecastDay{
    font-size: 0.75rem;
   
}
